<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<!-- bean注入 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:conf/spring/spring-bean.xml,
			classpath*:conf/spring/applicationContext-captcha.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!-- Log4j配置 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:conf/log/log4j.xml</param-value>
	</context-param>
	<!-- 加载log4j配置文件 -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>
	<!-- springMVC 注册和映射 -->
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<!-- 可以自定义servlet.xml配置文件的位置和名称，默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:conf/spring/spring-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<!-- <url-pattern>*.do</url-pattern> -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 404错误页 -->
	<error-page>
		<error-code>404</error-code>
		<location>/index.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/error/400</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error/405</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error/exception</location>
	</error-page>

	<!-- 设置session失效，单位分 -->
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>	
		<url-pattern>*.png</url-pattern>	
		<url-pattern>*.bmp</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>	
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.mp3</url-pattern>
		<url-pattern>*.ogg</url-pattern>
	</servlet-mapping>
</web-app>
